& {
  position: relative;
  border: 2px solid transparent;

  &.on {
    border: 2px solid var(--primaryColorHover);
  }

  > .drag-handler,
  > .con-name,
  > .handler-button {
    position: absolute;
    z-index: 2;
    padding: 3px;
    box-sizing: border-box;
  }

  > .drag-handler {
    top: 0;
    left: 0;
    color: var(--baseColor);
    background: var(--primaryColorHover);
    opacity: 0.6;
    cursor: move;

    &:hover {
      opacity: 1;
    }

    > span {
      font-size: 12px;
      font-style: normal;
    }
  }

  > .con-name {
    top: 0;
    left: 0;
    color: var(--baseColor);
    background: var(--primaryColorHover);
    opacity: 0.7;

    > span {
      font-size: 12px;
      font-style: normal;
    }
  }

  > .handler-button {
    bottom: 0;
    right: 0;
    cursor: pointer;
    color: var(--baseColor);
    background: var(--primaryColorHover);
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    > div {
      display: inline-flex;
    }
  }

  > .content {
    position: relative;
    z-index: 1;
  }
}
