&.grid {
  &:not(.form-render) {
    padding: 5px;
  }

  &:not(.form-render).border {
    border: 1px dashed var(--borderColor);
  }
}

&.col {
  &:not(.form-render).border {
    border: 1px dashed var(--borderColor);
  }
}
