.controller {
  position: relative;
  border: 2px solid transparent;

  &.on {
    border: 2px solid var(--primaryColorHover);
  }

  >.drag-handler,
  >.con-name,
  >.handler-button {
    padding: 2px 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 2;

    >.el-icon {
      color: var(--baseColor);
      margin-right: 4px;
    }

    >*:nth-last-child(1) {
      margin-right: 0;
    }
  }

  >.drag-handler {
    top: 0;
    left: 0;
    background: var(--primaryColorHover);
    opacity: .6;
    cursor: move;

    &:hover {
      opacity: 1;
    }

    >span {
      font-size: 12px;
      font-style: normal;
      color: var(--baseColor);
    }
  }

  >.con-name {
    top: 0;
    left: 0;
    background: var(--primaryColorHover);
    opacity: .7;

    >span {
      font-size: 12px;
      font-style: normal;
      color: var(--baseColor);
    }
  }

  >.handler-button {
    padding: 3px 4px;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background: var(--primaryColorHover);
    opacity: .6;

    &:hover {
      opacity: 1;
    }

  }

  >.content {
    position: relative;
    z-index: 1;
  }
}