& {
  --height: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: var(--baseColor);

  > .a,
  > .b,
  > .c {
    box-sizing: border-box;
    height: var(--height);
  }

  > .a {
    width: 260px;
    box-sizing: border-box;
    display: flex;

    .dynamic-form-draggable.a {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .draggable-item {
        width: calc(50% - 4px);
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        padding: 4px;
        border-radius: 4px;
        margin-bottom: 5px;
        cursor: move;
        background-color: var(--baseColor);
        border: 1px solid var(--borderColor);

        > .draggable-show-item {
          display: none;
        }

        &.on,
        &:hover {
          border-color: var(--primaryColorHover) !important;

          > .name {
            color: var(--primaryColorHover);
          }
        }

        > .name {
          font-family: "Source Han Sans CN";
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          /* identical to box height */
        }
      }
    }
  }

  > .b {
    width: 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    > .top {
      height: 41.8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      box-sizing: border-box;
      border-bottom: 1px solid var(--dividerColor);
    }

    > .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      background-color: var(--dividerColor);

      > .null {
        position: absolute;
        pointer-events: none;
        z-index: 2;
        color: var(--textColor3);
      }

      .draggable-con-div {
        padding: 10px;
        width: 100%;
        background-color: var(--dividerColor);

        > .draggable-con {
          min-height: calc(var(--height) - 40px - 22px);
          background-color: var(--baseColor);

          &.draggableLoading {
            box-shadow: 0px 0px 4px var(--primaryColor);
          }
        }
      }
    }
  }

  > .c {
    width: 280px;
    box-sizing: border-box;
    display: flex;
  }
}
