.controls__.grid {
  &:not(.preview) {
    padding: 5px;
  }

  &:not(.preview).border {
    border: 1px dashed #afafaf;
  }
}

.controls__.grid-col {
  &:not(.preview).border {
    border: 1px dashed #afafaf;
  }
}