.controls__.grid {
  &:not(.form-render) {
    padding: 5px;
  }

  &:not(.form-render).border {
    border: 1px dashed #afafaf;
  }
}

.controls__.grid-col {
  &:not(.form-render).border {
    border: 1px dashed #afafaf;
  }
}

.controls__.grid-right {
  display: flex;
  flex-direction: column;
  align-items: start;

  >.i {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;

    >div {
      display: flex;
      flex-direction: row;
      align-items: center;

      >.el-icon {
        cursor: pointer;
        margin-left: 2px;
      }
    }
  }
}