.controls__.slider {
  width: 100%;
  padding: 0 10px;
}

.controls__.slider-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;

  >.i {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: start;
    background-color: #f3f3f3;
    padding: 5px;
    margin-bottom: 5px;

    >.item {
      display: flex;
      flex-direction: row;
      align-items: start;

      >span {
        width: 100px;
        color: var(--el-text-color-regular);
        font-size: 13px;
      }

      >*:nth-child(2) {
        flex: 1 1 0;
      }
    }
    >.el-icon{
      cursor: pointer;
    }
  }

  >.el-button {
    margin-top: 5px;
  }
}