.controls__.table {
  margin-bottom: 5px;

  >table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    tr {}

    td {
      height: 50px;
      padding: 5px;
      border: 1px solid var(--borderColor);
      vertical-align: top;
    }
  }

  &.form-render {
    >table {
      td {
        border: 1px solid var(--borderColor);
      }
    }
  }
}

.controls__.cell {
  height: 100%;

  &:not(.form-render).border {
    border: 1px dashed var(--borderColor);
  }

  >.content {
    height: 100%;
  }
}