.controls__.table {
  >table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;

    tr {}

    td {
      height: 50px;
      padding: 5px;
      border: 1px dashed #afafaf;
      vertical-align: top;
    }
  }
}

.controls__.cell {
  height: 100%;

  &.border {
    border: 1px dashed #afafaf;
  }

  >.form-item {
    height: 100%;
  }
}